<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{bootstrap/css/hong-main.css}" rel="stylesheet">
    <script th:src="@{bootstrap/js/jquery-2.0.0.min.js}"></script>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="main">
    <nav th:include="public::navbar" class="navigation-bar"></nav>
    <div class="search-button">
        <div class="input-group">
            <input id="search-text" type="text" class="form-control" placeholder="搜索内容">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" th:onclick="searchClick()">搜索</button>
                <button type="button" class="btn btn-default" th:onclick="searchClear()">清空</button>
            </div>
        </div>
        <!-- 热门搜索 -->
        <div style="font-size: 13px;color: #9d9d9d;margin-top: 3px">
            热门搜索:
            <span>
                <a style="font-size: 12px;color: #9d9d9d;" th:onclick="hitClick('改革工作')">改革工作</a>
            </span>
        </div>
    </div>
    <div class="search-dimension">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-1" style="text-align: right">政策分类</div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-1" style="text-align: right">类 型:</div>
                    <div class="col-md-4">
                        <input type="radio" checked name="searchType" value="all">&nbsp;&nbsp;全部
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="searchType" value="policy">&nbsp;&nbsp;政策
                    </div>
                </div>
                <div class="row row-interval">
                    <div class="col-md-1" style="text-align: right">政策内容:</div>
                    <div class="col-md-4">
                        <input type="radio" checked name="policyContent" value="all">&nbsp;&nbsp;<span>全部</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="policyContent" value="revenue">&nbsp;&nbsp;财政税收
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="policyContent" value="subsidy">&nbsp;&nbsp;财政补贴
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="search-return">
        <ul class="list-group" id="search-return-content">
        </ul>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">

    $(function () {
        searchAll();
    })

    function hitClick(title) {
        document.getElementById("search-text").value = title;
        searchClick()
    }

    function searchClick() {
        const value = document.getElementById("search-text").value;
        if (!value) return;
        $.ajax({
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            url: "graph/all/" + value,
            async: true,
            success: function (result) {
                setupSearchReturn(result);
            }
        })

    }

    function setupSearchReturn(data) {
        const element = document.getElementById("search-return-content");
        element.innerHTML = '';
        for (const content of data) {
            element.innerHTML += `
            <li class="list-group-item">
                <div style="font-weight: bold;font-size: 20px">${content.title}</div>
                <div style="display: inline">
                    <p style="display: inline"><span>　${content.description || ''}</span>
                    </p>
                    <a href="/detail?id=${content.id}">>>>查看</a>
                </div>
            </li>`
        }
    }

    function redirectToGraph() {

    }

    function searchClear() {
        document.getElementById("search-text").value = '';
        searchAll();
    }

    function searchAll() {
        $.ajax({
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            url: "graph/all",
            async: true,
            success: function (result) {
                setupSearchReturn(result);
            }
        })
    }
</script>
</body>
</html>